<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">

    <hostname>GITHUB-R1</hostname>

    <interface>
      <GigabitEthernet>
        <name>1</name>
        <ip>
          <address>
            <primary>
              <address>192.168.10.1</address>
              <mask>255.255.255.0</mask>
            </primary>
          </address>
        </ip>
      </GigabitEthernet>

      <GigabitEthernet>
        <name>2</name>
        <ip>
          <address>
            <primary>
              <address>192.168.20.1</address>
              <mask>255.255.255.0</mask>
            </primary>
          </address>
        </ip>
      </GigabitEthernet>
    </interface>

    <router>
      <ospf>
        <id>1</id>
        <network>
          <ip>192.168.10.0</ip>
          <wildcard>0.0.0.255</wildcard>
          <area>0</area>
        </network>
        <network>
          <ip>192.168.20.0</ip>
          <wildcard>0.0.0.255</wildcard>
          <area>0</area>
        </network>
      </ospf>
    </router>

  </native>
</config>